.error{
    color: red;
    font-size: 0.9rem;
    margin-top: 4px;
}

.back-btn{
  background-color: #381889;
  color:white;
  border: none;
  position:absolute;
  top: 20px;
  left: 20px;
  border-radius:4px;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.back-btn:hover{
    background-color:rgb(53, 52, 52);
}

.form-Container{
  display:flex;
  height:100vh;
  background-color:rgb(108, 160, 197);
  justify-content: center;
  align-items: center;
}

.formBody{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
  padding:20px;
}

.input{
    border-radius:6px;
    border: 1px solid #ccc;
    padding:4px;
    box-shadow: 0 0 5px rgba(147, 206, 217, 0.5);
}
.capacity{
  width:100%;
}
textarea {
  width: 75%;
  padding: 5px;
  font-size: 16px;
  resize: vertical; /* allows user to resize height */
}
.rsvp-submit-btn{
    background-color:rgb(104, 102, 102);
    color: white;
    padding: 10px 15px;
    text-align:center;
    border-radius:11px;
    cursor:pointer;
    transition: all 0.1s ease-in-out;
}
.rsvp-submit-btn:hover{
    background-color:rgb(53, 52, 52);
}


form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.form-group{
  display:flex;
  margin-bottom:20px;

}

.submit-btn{
  align-self:center;
}


