.error{
    color: red;
    font-size: 0.9rem;
    margin-top: 4px;
}

.back-btn{
  background-color: #381889;
  color:white;
  border: none;
  position:absolute;
  top: 20px;
  left: 20px;
  border-radius:4px;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.back-btn:hover{
    background-color:rgb(53, 52, 52);
}

.form-Container{
  display:flex;
  height:100vh;
  background-color:rgb(108, 160, 197);
  justify-content: center;
  align-items: center;
}

.formBody{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
  padding:20px;
}
