.main-body{
    display:flex;
    justify-content:space-between;
    background-color:rgb(214, 151, 75);
    height:100vh;


}

.second-section{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
}

.first-section{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    margin-right:140px;

}

.btn-class{
    background-color:rgb(104, 102, 102);
    color: white;
    padding: 10px 25px;
    text-align:center;
    border-radius:11px;
    cursor:pointer;
    transition: all 0.1s ease-in-out;
    margin-bottom:20px;
}
.btn-class:hover{
    background-color:rgb(53, 52, 52);
}
